@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

body {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #fff7f0;
  padding: 6px;
  overflow: hidden;
}

.logo-button-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 119px;
}

.button-one-consultation {
  width: 176px;
  background-color: black;
  color: white;
  width: 176px;
  padding: 17px;
  border-radius: 15px;
}

.header-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.design-solutions-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph-style {
  width: 285px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #7a746e;
}

.pattern-graphic-design-style {
  background: #755cde;
  width: 343px;
  padding: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
  color: white;
}

.design-image-style {
  transform: translate(69px, -48px);
}

.Graphic-Design-style {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  transform: translate(-61px, 42px);
}
.four-card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.three-card-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two-cards-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.two-boxes-style {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.pattern-ui-ux-style {
  width: 159px;
  padding: 40px;
  background: #f6a560;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
}

.ux-image-style {
  transform: translate(33px, -21px);
}

.ui-ux-style {
  color: white;
  display: flex;
  transform: translate(-28px, 22px);
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
}

.pattern-apps-style {
  width: 159px;
  padding: 40px;
  border-radius: 14px;
  background-color: #f39e9e;
}

.apps-image-style {
  transform: translate(33px, -21px);
}

.app-style {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  color: white;
  transform: translate(-28px, 22px);
}

.pattern-illustrations {
  width: 343px;
  background-color: #eb7565;
  border-radius: 14px;
  padding: 21px;
}

.illustration-image {
  transform: translate(164px, -3px);
}

.illustration-style {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  color: white;
  display: flex;
  transform: translate(-2px, 6px);
}

.pattern-photography {
  padding: 30px;
  border-radius: 14px;
  width: 343px;
  background-color: #61c4b7;
  margin-top: 20px;
}

.image-photography-style {
  transform: translate(123px, -7px);
}

.photography-style {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  color: white;
  display: flex;
  transform: translate(-17px, 13px);
}

.pattern-motion-graphics {
  padding: 30px;
  border-radius: 14px;
  width: 343px;
  background-color: #552049;
}

.image-motion-style {
  transform: translate(158px, -7px);
}

.motion-style {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  color: white;
  display: flex;
  transform: translate(-17px, 13px);
}

.about-amy-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.about-amy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.amy-image-style {
  width: 300px;
}

.header-one-style {
  width: 343px;
  height: 66px;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.76px;
  text-align: center;
}

.info-style {
  width: 343px;
  height: 104px;
  top: 90px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #7a746e;
}

.button-two-style {
  width: 176px;
  background-color: #eb7565;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 14px;
}

.carousel-arrow-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
.carousel-images {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.image-slide-style {
  width: 270px;
  border-radius: 10px;
}

.box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 37px;
  gap: 44px;
}

.paragraph-one-style {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.two-arrow-style {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.arrow-style {
  background-color: black;
  border-radius: 28px;
  padding: 23px;
  border: none;
}

.arrow-style-ome {
  background-color: black;
  border-radius: 28px;
  padding: 23px;
  border: none;
}

.footer-style {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media (min-width: 768px) {
  .logo-button-style {
    display: flex;
    gap: 457px;
  }
  .design-solutions-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    font-size: 44px;
    font-weight: 700;
    line-height: 55.44px;
    text-align: center;
  }

  .paragraph-style {
    width: 573px;
    top: 82px;
    left: 58.5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }
  .four-card-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }

  .three-card-style {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .two-cards-style {
    flex-direction: row;
  }

  .pattern-ui-ux-style {
    padding: 54px;
  }

  .about-amy-style {
    flex-direction: row;
  }

  .amy-image-style {
    width: 364px;
    transform: translateX(-81px);
  }

  .header-one-style {
    font-size: 32px;
    line-height: 40.32px;
    text-align: left;
    width: 339px;
    height: 120px;
  }

  .info-style {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    width: 339px;
    height: 140px;
    top: 144px;
  }

  .work-style {
    font-size: 32;
  }

  .image-slide-style {
    width: 540px;
  }

  .box-style {
    padding: 77px;
  }

  .call-with-me-style {
    width: 540px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
  }

  .paragraph-one-style {
    width: 540px;
    top: 66px;
    font-size: 18px;
    line-height: 28px;
  }

  .button-two-style {
    padding: 11px;
    width: 230px;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 80px;
    padding: 21px;
  }
  .logo-button-style {
    gap: 819px;
  }
  .button-one-consultation {
    cursor: pointer;
  }
  .logo-button-style:hover .button-cons {
    background-color: #755cde;
    border: none;
  }

  .container-two {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .app-style {
    transform: translate(-28px, 35px);
  }

  .photography-style {
    transform: translate(-28px, 35px);
  }
  .pattern-photography {
    padding: 44px;
  }

  .pattern-motion-graphics {
    padding: 20px;
  }

  .motion-style {
    transform: translateY(7px);
  }
  .two-cards-style {
    flex-direction: column;
    margin-left: 28px;
    gap: 36px;
  }

  .button-two-style {
    cursor: pointer;
  }
  .amy-image-style {
    width: 410px;
  }

  .header-one-style {
    width: 540px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
  }

  .info-style {
    width: 540px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #7a746e;
  }
  .about-amy:hover .free-butt {
    background-color: #f6a560;
    border: none;
  }

  .arrow-style {
    cursor: pointer;
  }

  .arrow-style-ome {
    cursor: pointer;
  }

  .arrow-style:hover.arr-butt {
    background-color: #755cde;
  }

  .arrow-style-ome:hover.arr-butt-one {
    background-color: #755cde;
  }

  .box-style {
    flex-direction: row;
    padding: 128px;
    border-radius: 14px;
    gap: 60px;
  }

  .call-with-me-style {
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
  }

  .paragraph-one-style {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
  }

  .button-two-style {
    cursor: pointer;
  }
  .box-style:hover.free-butt {
    background-color: #f6a560;
    border: none;
  }
}
